@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Baloo Da 2", sans-serif;
    color: #fff;
}

body {
    background: linear-gradient(128deg,#fc40ff,#543fff);
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    position: fixed;
    background-color: rgba(252, 64, 255, 0.75);
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
    font-size: 1.75vw;

}

#navbar ul {
    display: flex;

}

#navbar li {
    list-style: none;
    padding: 2vw;
    
}

#welcome-section {
    width: 100%;
    height: 100vh;
}

#welcome-container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about, #project-section-header {
    font-size: 3vw;
    text-align: center;
}

#about h1, #about span {
    text-decoration: none;
    background:
    linear-gradient(
        to left,
        rgba(0, 100, 200, 1),
        rgba(255, 0, 180, 1),
        rgba(255, 0, 0, 1)   
    );
    background-size: 0 0;
    background-position: left;
    background-repeat: no-repeat;
}

#about h1:hover, #about span:hover {
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-size 800ms;
}

.italic {
    font-style: italic;
}

#photo {
    width: 20vw;
    border-radius: 50%;
    margin-left: 10vw;
}

.scroll-shevron {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}


#projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-tile {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vw;
    /* border: 3px solid; */
}

.project-tile img {
    width: 100%;
}

.project-title {
    width: 100%;
    text-align: center;
    font-size: 2.5vw;
}

.project-title:hover::before {
    content: "<";
    color: rgba(255, 0, 0, 1);
}

.project-title:hover::after {
    content: "/>";
    color: rgba(0, 100, 200, 1);
}

.project-title a {
    color: inherit;
    text-decoration: none;
}

.nav-link, .pen-link {
    text-decoration: none;
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% .3vw, 0 .3vw;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.nav-link:hover, .pen-link:hover {
    background-size: 0 .3vw, 100% .3vw;
}

#contact-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

#contact {
      font-size: 3vw;
      text-align: center;
      position: relative;
}

#contact-icons i {
      padding: 1.5vw;
}

#contact-icons i:hover, .scroll-shevron a:hover {
    transform: scale(1.5);
    transition: transform 400ms;
}

#author {
    background-color: rgb(72, 15, 15);
      font-size: 1vw;
      width: 100%;
}

#author span {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1vw;
}